@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

html {
  font-size: 10px;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.lp-wrap {
  background-color: #3E87FD;
  max-width: 420px;
  margin: 0 auto;
}

.mark {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  color: #fff;
  -webkit-text-stroke: 1px #F7F7DC;
}

.under-line {
  text-decoration: underline;
}

.error-text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 21px;
  text-align: left;
  color: #ff0000;
  margin-bottom: 15px;
}

.induction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  max-width: 420px;
  margin: 0 auto;
}
.induction__button {
  width: 50%;
  border: solid 1px #B4CCF8;
  background-color: rgba(180, 204, 248, 0.35);
}
.induction__button__wrap {
  padding: 12px;
}
.induction__button--en {
  font-family: Galvji;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}
.induction__button--ja {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}

.sec-title {
  margin-bottom: 25px;
}
.sec-title span {
  display: block;
}
.sec-title--en {
  font-family: Galvji;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.sec-title--ja {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact-title {
  font-family: Galvji;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: center;
  color: #ff0;
  padding: 123px 0 20px;
}

.asterisk-under__wrap {
  margin-bottom: 30px;
}
.asterisk-under__logo {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 78px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.asterisk-under__title--big {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.asterisk-under__title--little {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.asterisk-under__menu {
  margin-bottom: 20px;
}
.asterisk-under__list {
  text-align: center;
}
.asterisk-under__list a {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.asterisk-under__list:not(:last-child) {
  margin-bottom: 5px;
}

.entry-contact__item {
  margin-bottom: 20px;
}
.entry-contact__word {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}
.entry-contact__button {
  width: 250px;
  padding: 11px 0;
  margin: 0 auto;
  background-color: #fff;
}
.entry-contact__button__text {
  color: #000;
}
.entry-contact__button__text--en {
  font-family: Galvji;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  display: block;
  text-align: center;
}
.entry-contact__button__text--ja {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 20px;
  display: block;
  text-align: center;
}

.follow-me {
  margin: 0 auto 50px;
  padding: 0px 0;
}
.follow-me__up {
  text-align: center;
}
.follow-me__catch {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0 30px;
}
.follow-me__catch::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.follow-me__catch::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(45deg);
}
.follow-me__under {
  display: flex;
  justify-content: center;
  height: 73px;
}
.follow-me__under__right {
  margin-left: 30px;
}
.follow-me__btn {
  width: 160px;
  height: 73px;
  position: relative;
  border-radius: 5px;
}
.follow-me__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Yantramanav;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.follow-me__btn a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.follow-me__btn--line {
  background-color: #42FF29;
  margin-right: 20px;
}
.follow-me__btn--instagram {
  background-color: #E538F4;
}

.sp-menu {
  background-color: #3E87FD;
  display: none;
  padding-top: 100px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 100px);
  overflow: auto;
}
.sp-menu__list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}
.sp-menu__item {
  text-align: left;
}
.sp-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sp-menu__number {
  font-family: Galvji;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 36px;
  text-align: left;
  color: #ff0;
  margin-right: 5px;
}
.sp-menu__name {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
}

.sp-menu.open {
  display: block;
  position: fixed;
  z-index: 9990;
}

.contact-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.contact-flow__position {
  font-family: "Noto Sans JP";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-align: left;
  color: #333;
  padding: 6px 15px;
  border-radius: 10px;
  border: solid 1px #000;
}
.contact-flow__position.show {
  background-color: #000;
  color: #fff;
}
.contact-flow__line {
  width: 18px;
  height: 1px;
  background-color: #000;
}

.l-header {
  background-color: white;
  width: 100%;
  height: 73px;
  color: #3E87FD;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.l-header__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}
.l-header__logo {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 26px;
  text-align: left;
  color: #3e87fd;
  -webkit-text-stroke: 1px #F7F7DC;
  margin-left: 10px;
}
.l-header__name {
  font-family: Yantramanav;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 87px;
  text-align: left;
  color: #3e87fd;
  opacity: 0.25;
}
.l-header__hamburger {
  margin: 0 20px 0px 0;
}
.l-header__hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #3E87FD;
  transition: all 0.4s;
  position: relative;
}
.l-header__hamburger span:nth-of-type(2) {
  margin: 6px 0;
}
.l-header__hamburger.open span:nth-of-type(1) {
  transform: rotate(45deg);
}
.l-header__hamburger.open span:nth-of-type(2) {
  transform: rotate(-45deg);
  bottom: 8px;
}
.l-header__menu {
  color: #3E87FD;
  font-size: 1rem;
  text-align: center;
}

.l-footer {
  padding-bottom: 79px;
}
.l-footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  border-bottom: solid 2px #fff;
}
.l-footer__sns__item {
  width: 24px;
  height: 24px;
}
.l-footer__sns__item:not(:last-child) {
  margin-right: 20px;
}
.l-footer__copy {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.fv {
  margin-top: 900px;
  margin-bottom: 20px;
}
.fv__area {
  width: 100%;
  height: 340px;
  position: relative;
}
.fv__img {
  width: 100%;
  height: 100%;
}
.fv__arrow {
  width: 110px;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(0%, -50%);
}

.catch {
  padding-top: 80px;
}
.catch__contain {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.catch__title {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.05em;
  line-height: 50px;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
}
.catch__price {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: left;
  color: #fff;
  display: flex;
}
.catch__price--txt, .catch__price--number, .catch__price--yen {
  display: block;
}
.catch__price--txt {
  width: 102px;
}
.catch__price--number {
  margin: 0 24px 0 28px;
}
.catch__month {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 25px;
  text-align: center;
  border: solid 1px #fff;
  color: #fff;
  padding: 5px 55px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.catch__month span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #F5FF00;
  border-bottom: solid 1px #F5FF00;
  padding-bottom: 2px;
  margin: 0 auto;
}
.catch__plan {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.05em;
  line-height: 35px;
  text-align: left;
  color: #fff;
}
.catch__plan.-red {
  color: #FF0000;
}
.catch__plan.-red span {
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
}

.hope {
  padding-top: 80px;
}
.hope__title {
  width: 324px;
  height: 69px;
  margin: 0 auto 40px;
}
.hope__catch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 40px;
}
.hope__top {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #fff;
}
.hope__top:first-child {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 35px;
}
.hope__top:first-child:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.hope__top:first-child:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(45deg);
}
.hope__head {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #ff0;
  background-color: rgba(255, 255, 255, 0.35);
}
.hope__img {
  width: 127px;
  height: 330px;
  margin: 0 auto 40px;
}
.hope__foot {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.hope__text {
  width: 308px;
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #fff;
  margin: 0 auto 40px;
}
.hope__item:not(:last-child) {
  margin-bottom: 20px;
}
.hope__item__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 272px;
  margin: 0 auto;
}
.hope__label {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #ff0;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100px;
}
.hope__point--catch {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #fff;
}
.hope__point--img {
  width: 100px;
  height: 100px;
}

.why {
  padding-top: 80px;
}
.why__title {
  width: 324px;
  height: 69px;
  margin: 0 auto 40px;
}
.why__img {
  width: 320px;
  height: 230px;
  margin: 0 auto 40px;
}
.why__catch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 80px;
}
.why__top {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #fff;
}
.why__top:not(:last-child) {
  margin-bottom: 10px;
}
.why__top:first-child {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px;
  padding: 0 35px;
}
.why__top:first-child:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.why__top:first-child:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transform: rotate(45deg);
}
.why__head {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #ff0;
  background-color: rgba(255, 255, 255, 0.35);
  margin-bottom: 10px;
}
.why__foot {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.why__text {
  width: 308px;
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #fff;
  margin: 0 auto 40px;
}
.why__package {
  font-family: Galvji;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.why__item__contain {
  width: calc(100% - 70px);
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: solid 1px #fff;
}
.why__item__label {
  font-family: "Hiragino Sans";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: center;
  color: #ff0;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100px;
  margin-bottom: 15px;
}
.why__item__head {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.why__item__text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: left;
  color: #fff;
  padding-bottom: 25px;
}
.why__item:not(:last-child) {
  margin-bottom: 30px;
}

.flow {
  padding-top: 80px;
}
.flow__contain {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
.flow__list {
  width: 85%;
  padding: 0 60px 0 20px;
}
.flow__item {
  width: 100%;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.35);
  position: relative;
}
.flow__item:not(:last-child) {
  margin-bottom: 25px;
}
.flow__number {
  font-family: Yantramanav;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.05em;
  line-height: 46px;
  text-align: left;
  color: #ff0;
  position: absolute;
  top: 0%;
  left: 3.25rem;
  transform: translate(-50%, -50%);
}
.flow__detail {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
.flow__arrow {
  width: 15px;
}
.flow__text {
  width: calc(15% - 15px);
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #ff0;
  writing-mode: vertical-rl;
  letter-spacing: 2px;
}

.entry {
  padding-top: 80px;
}
.entry__img {
  width: 290px;
  height: 170px;
  margin: 0 auto 80px;
}

.premium {
  padding-top: 80px;
}
.premium__title {
  font-family: Galvji;
  font-weight: normal;
  font-size: 52px;
  letter-spacing: 0.02em;
  line-height: 54px;
  text-align: left;
  color: #ff0;
  margin-bottom: 50px;
}
.premium__text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
  text-align: left;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
}
.premium__img {
  width: 350px;
  height: 170px;
  margin: 0 auto 0px;
}

.strength {
  padding-top: 80px;
}
.strength__title {
  font-family: Galvji;
  font-weight: normal;
  font-size: 52px;
  letter-spacing: 0.02em;
  line-height: 54px;
  text-align: center;
  color: #ff0;
  margin-bottom: 50px;
}
.strength__it {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin: 0 auto 50px;
}
.strength__content:not(:last-child) {
  margin-bottom: 60px;
}
.strength__subTitle {
  font-family: Galvji;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 17px;
  text-align: left;
  color: #ff0;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 15px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
.strength__subTitle.white {
  color: #fff;
  display: flex;
  align-items: center;
}
.strength__subTitle.right {
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% - 0px);
  padding: 0;
  text-align: right;
}
.strength__subTitle.right span {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 10px 30px;
}
.strength__subTitle--big {
  font-size: 48px;
  color: #ff0;
}
.strength__text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 22px;
  text-align: left;
  color: #fff;
  padding: 0 40px;
}

.attract {
  padding-top: 80px;
}
.attract__word {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.attract__content:not(:last-child) {
  margin-bottom: 30px;
}
.attract__label {
  font-family: "Hiragino Sans";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 15px;
  text-align: left;
  color: #fff;
  padding: 15px 30px;
  width: calc(100% - 110px);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.35);
}
.attract__img {
  width: 280px;
  margin: 0 auto 20px;
}
.attract__text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 22px;
  text-align: left;
  color: #fff;
  width: calc(100% - 70px);
  margin: 0 auto;
}

.development {
  padding-top: 80px;
}
.development__contain {
  width: calc(100% - 44px);
  margin: 0 auto;
  padding: 0 0 0 16px;
}
.development__contain:not(:last-child) {
  margin-bottom: 20px;
}
.development__label {
  position: relative;
  margin-bottom: 15px;
}
.development__number {
  font-family: Galvji;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: left;
  color: #ff0;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.development__detail {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
  padding: 15px 31px;
  background-color: rgba(255, 255, 255, 0.35);
}
.development__text {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
  width: calc(100% - 41px);
  padding: 20px 20px;
  margin-left: 10px;
  border-left: solid 2px #fff;
  position: relative;
}
.development__text::before {
  position: absolute;
  left: 1px;
  top: 89%;
  content: "";
  width: 2.5px;
  height: 15px;
  background: #fff;
  border-radius: 3px;
  transform: rotate(30deg);
}
.development__text.-no3::before {
  top: 95%;
}
.development__text.no-arrow {
  border-left: none;
  position: static;
}
.development__text.no-arrow::before {
  position: static;
  left: 0px;
  top: 0%;
  content: "";
  width: 0px;
  height: 0px;
  background: #fff;
  border-radius: 0px;
  transform: rotate(30deg);
}

.plan {
  border-top: solid 2px #fff;
  padding-top: 100px;
}
.plan__contain {
  width: calc(100% - 30px);
  margin: 0 auto;
}
.plan__tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}
.plan__tab {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  line-height: 26px;
  background-color: #fff;
  border: 1px solid #ccc;
  width: calc(50% - 10px);
  padding: 10px 0;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
}
.plan__tab.active {
  background-color: #000;
  color: #fff;
}
.plan__menu {
  display: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.plan__menu.active {
  display: block;
}
.plan__list:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: dotted 1px #000;
}
.plan__name, .plan__detail {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.plan__name {
  color: #FF0000;
}
.plan__detail {
  color: #000;
  padding-bottom: 3px;
}

#tab2 {
  border: 1px solid #000;
  background-color: #000;
}
#tab2 .plan__detail {
  color: #fff;
}
#tab2 .plan__list:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: dotted 1px #fff;
}
#tab2 .plan__list:last-child {
  padding-bottom: 20px;
}

.desire {
  padding-top: 80px;
}
.desire__wrapper {
  margin: 0 auto;
}
.desire__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.desire__text img {
  width: 18px;
  height: 18px;
}
.desire__text span {
  display: block;
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 46px;
  text-align: left;
  color: #fff;
}
.desire__img {
  width: 250px;
  height: 250px;
  margin: 0 auto 80px;
}
.desire__list {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 44px;
  text-align: left;
  color: #fff;
  width: 250px;
  margin: 0 auto;
}

.faq {
  padding-top: 80px;
}
.faq__list {
  max-width: 350px;
  padding: 0 20px;
  margin: 0 auto 50px;
}
.faq__item {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 8.5px 0;
}
.faq__item:not(:last-child) {
  margin-bottom: 10px;
}
.faq__question, .faq__answer {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
}
.faq__question {
  border-bottom: solid 1px #fff;
  margin-bottom: 15px;
}
.faq__answer {
  padding-top: 10px;
  display: none;
}
.faq__answer--1.show {
  display: block;
}

.entry {
  padding-top: 80px;
}
.entry__form {
  width: calc(100% - 50px);
  margin: 40px auto 0;
}
.entry__form__inputitems {
  margin-bottom: 40px;
}
.entry__form__inputitems:not(:last-child) {
  margin-bottom: 20px;
}
.entry__form__inputitem {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
}
.entry__form__label {
  color: #fff;
  background-color: #3E87FD;
  margin-right: 10px;
  font-size: 14px;
}
.entry__form__name {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 26px;
  text-align: left;
  color: #fff;
}
.entry__form__textbox, .entry__form__textarea {
  width: calc(100% - 20px);
  border: solid 1px #fff;
  background-color: #3E87FD; /* 任意の背景色 */
  padding: 10px;
  color: #fff;
}
.entry__form__textbox::-moz-placeholder, .entry__form__textarea::-moz-placeholder {
  color: #fff;
}
.entry__form__textbox::placeholder, .entry__form__textarea::placeholder {
  color: #fff;
}
.entry__form__textbox {
  margin-bottom: 10px;
}
.entry__form__textarea {
  margin-bottom: 40px;
}
.entry__form__button button {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  width: 100%;
  border: solid 1px #fff;
  background-color: #3E87FD; /* 任意の背景色 */
  color: #fff;
  padding: 15px 125px;
  margin: 0 auto;
  border-radius: 40px;
}

.company {
  padding-top: 80px;
  padding-bottom: 80px;
}
.company__list {
  max-width: 264px;
  margin: 0 auto;
}
.company__item {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 8.5px 0;
  border-bottom: dotted 1px #fff;
}
.company__item:last-child {
  border-bottom: none;
}

.contact-confirm {
  max-width: 500px;
  width: calc(100% - 40px);
  margin: 20px auto 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0px;
  /* アイテム */
  /* フォームリセット ボタン */
  /* ボタン */
}
.contact-confirm__p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 38px;
  text-align: center;
  color: #000;
  margin: 25px 0 35px;
}
.contact-confirm__table {
  width: 100%;
  margin-bottom: 30px;
}
.contact-confirm__item {
  width: calc(100% - 28px);
  margin: 0 auto;
}
.contact-confirm__item:last-child {
  padding-bottom: 30px;
}
.contact-confirm__item:last-child .contact-confirm__title,
.contact-confirm__item:last-child .contact-confirm__text {
  border-bottom: none;
}
.contact-confirm__title, .contact-confirm__text {
  display: block;
  text-align: left;
  font-size: 14px;
  width: calc(100% - 28px);
  margin: 0 auto;
}
.contact-confirm__title {
  text-align: left;
  color: #000;
  margin: 10px auto 12px;
}
.contact-confirm__text {
  letter-spacing: 0.15em;
  line-height: 30px;
  text-align: left;
  color: #000;
  border-bottom: dotted 1px #000;
  padding-bottom: 10px;
  overflow: hidden;
}
.contact-confirm__text--tel {
  margin-right: 10px;
}
.contact-confirm__text--tel:last-child {
  margin-right: 0px;
}
.contact-confirm__text--line {
  display: block;
  width: 15px;
  margin-right: 10px;
  height: 1px;
  background-color: #000;
}
.contact-confirm__riset-submit {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
  padding: 17px 0;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  border: solid #000 1px; /* 任意の値 */
  border-radius: 5px; /* 任意の値 */
}
.contact-confirm__riset-submit:hover {
  color: #8A8A8A;
  background-color: #fff;
  border: solid #8A8A8A 2px;
}
.contact-confirm__submit-primary {
  color: #fff;
  background-color: #000;
}

.contact-complete {
  background-color: #fff;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.contact-complete__wrap {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.contact-complete__title {
  font-family: YuGothic;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: #000;
  padding: 23px 0 15px;
}
.contact-complete__text {
  font-family: YuGothic;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}
.contact-complete__back {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: Yantramanav;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 35px;
  text-align: center;
  color: #000;
  border-bottom: solid 2px #000;
}
/*# sourceMappingURL=style.css.map */