/* フォーム */
.registration {
        background-color: #F8F8F8;
    &__title{
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #104069;
        padding: 50px;
    }
    
    // メールアドレスで登録
    &__registration{
        width: 600px;
        margin: 0 auto;
        background-color: #4893C6;
        border-radius: 10px 10px 0 0;
        p{
            font-family: "Noto Sans JP";
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #fff;
            padding: 15px;            
        }
    }

    // フォーム本体
    &__form{ 
        padding-bottom: 80px;
    }

    //誤りがないかの確認文
    &__before{
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 28px;
        text-align: center;
        color: #000;
        margin-bottom: 50px;
    }
    
    /* ラベル */
    &__label {
        padding: 2px 14px;
        font-size: 14px;
        text-align: left;
        color: #000;
        margin-left: 15px;
        border-radius: 5px;
        display: inline-block;
    }
    &__label-danger {
        background: #104069;
        color: #fff;
    }
    
    /* お問合せフォーム ------------------------------*/
    &__items{
        max-width: 480px;
        margin: 0 auto;
        background-color: #fff;
        padding: 60px;
        border-radius:0 0 10px 10px;
    }
    /* アイテム */
    &__item{
        dl{
            display: block;
            max-width: 480px;
            width: calc(100% - 20px);
            margin: 0 auto;
        }
        dt{
            width: 100%;
            margin-bottom: 10px;
        }
        dd{
            width: 100%;
            align-items: center;
            select, input ,textarea{
                display: block;
                font-size: 16px;
                padding: 15px 20px;
                border: solid 1px #A5BACC;
                border-radius: 5px;
            } 
            textarea{
                width: calc(100% - 40px);
                height: 159px;
                padding: 10px;
            } 
        }
        &__name{
            display: flex;
            &--input{
                width: 121px;
                margin-right: 16px;
            }
            &--input:last-child{
                margin-right: 0px;
            }
            &--example{
                font-family: "Yu Gothic";
                font-weight: normal;
                font-size: 16px;
                margin-right: 7px;
            }
        }
        &__mail{
            &--input{
                width: calc(100% - 42px);
            }

        }
        &__tel{
            display: flex;
            &--input{
                width: 93px;
                margin-right: 7px;
            }
            &--line::after{
                content: '';
                flex-grow: 1;
                height: 1px;
                background: #000000;
                display: block;
                width: 7px;
                position: relative;
                top: 50%;
                margin-right: 7px;
              }
            &--input:last-child{
                margin-right: 0px;
            }
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    &__item:last-child{
        margin-top: 50px;
    }
    
    //タイトル
    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #111;

        //入力項目
        &--name{
            display: inline-block;
        }
    }

    //個人情報取り扱い
    &__privicy {
        display: flex;    
        align-items: center;
        .check-box {
            display: flex;
            display: inline-block;
            margin:0 9px 0 0;   
        }

        &__check{
            display: flex;    
            align-items: center;
        }
        
        &--doui,&-link {
            font-family: "Noto Sans CJK JP";
            font-size: 16px;
            letter-spacing: 0.1em;
            text-align: left;
            height: 30px;
            line-height: 30px;
            color: #111111;
            display: inline-block;
        }
        
        &-link {
            color: #346CB5;
            transition: all 0.5s;
            height: 30px;
            line-height: 30px;
            text-decoration: underline;
        }
    } 
    
    label:not(:first-child) {
        margin-left: 24px;
    }

    &__button.c-button.gratation{
        width: 310px;
        height: 54px;
        margin: 0 auto 20px;
        a{
            font-size: 16px;
        }
    }

    &__login{
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #111;
        span{
           color: #346CB5;
           text-decoration: underline;
           display: inline-block; 
        }
    }
}


@media screen and (max-width: 768px) {
    /* フォーム */
    .registration {
        background-color: #F8F8F8;
    &__title{
        font-size: 22px;
        padding: 30px 0;
    }
    
    // メールアドレスで登録
    &__registration{
        max-width: 520px;
        width: calc(100% - 40px);
        p{
            font-size: 14px;
            padding: 10px;            
        }
    }

    // フォーム本体
    &__form{ 
        padding-bottom: 60px;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    
    /* ラベル */
    &__label {
        padding: 2px 12px;
        font-size: 12px;
        margin-left: 10px;
    }
    
    /* お問合せフォーム ------------------------------*/
    &__items{
        max-width: 480px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
    }
    /* アイテム */
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__item:last-child{
        margin-top: 0px;
    }
    
    //タイトル
    &__subtitle {
        font-size: 14px;
    }

    //個人情報取り扱い
    &__privicy {
        display: flex;    
        align-items: center;
        .check-box {
            display: flex;
            display: inline-block;
            margin:0 9px 0 0;   
        }

        &__check{
            display: flex;    
            align-items: center;
        }
        
        &--doui,&-link {
            font-size: 14px;
            letter-spacing: 0.1em;
            text-align: left;
            height: auto;
            color: #111111;
            display: inline-block;
        }
        
        &-link {
            color: #346CB5;
            transition: all 0.5s;
            text-decoration: underline;
        }
    } 
    
    label:not(:first-child) {
        margin-left: 24px;
    }

    &__button.c-button.gratation{
        width: 260px;
        height: 50px;
        a{
            font-size: 14px;
        }
    }

    &__login{
        font-size: 14px;
    }
}
}