.p-login {
    margin: 148px auto 0;
    max-width: 1200px;
    &__inner{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &__content {
        width: calc(100% / 2 - 30px / 2);
        padding: 40px 0 70px;
    }
}

// SNSログイン
.p-social {
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    padding: 30px 0 50px;
    &__text {
        margin: 0px auto 30px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #111;
        width: fit-content;
    }
    &__logins {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 470px;
        margin: 0 auto;
    }
    &__login {
        width: calc(100% / 2 - 15px);
        padding: 20px 0;
        border: solid 1px #4893C6;
        border-radius: 10px;
    }
    &__login:nth-child(n + 3){
        margin-top: 30px;
    }
    &__name {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #111;
        margin-bottom: 20px;
    }
    &__img {
        margin: 0 auto 20px;
    }
    &__img--line,
    &__img--fb {
        width: 46px;
        height: 46px;
    }
    &__img--x {
        width: 43px;
        height: 34px;
    }
    &__img--google {
        width: 44px;
        height: 39px;
    }
    &__alignment {
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: #111;        
        margin-bottom: 20px;
    }
    &__button {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #fff;
        padding: 11px 30px;
        background-color: #4893C6;
        border: solid 1px #4893C6;
        width: fit-content;
        margin: 0 auto;
        border-radius: 30px;
    }
}



@media screen and (max-width:768px) {
    .p-login {
        margin-top: 118px;
        &__inner{
            display: block;
            align-items: center;
            justify-content: center;
        }
        &__content {
            width: 100%;
            padding: 30px 0 0px;
        }
    }

    .p-social {
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    padding: 30px 0 30px;
    margin-bottom: 50px;
    &__text {
        margin: 0px auto 30px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #111;
        width: fit-content;
    }
    &__logins {
        display: block;
    }
    &__login {
        width: calc(100% - 40px);
        margin: 20px auto 0;
    }
    &__login:nth-child(n + 3){
        margin-top: 20px;
    }
    &__name {
        margin-bottom: 10px;
    }
    &__img {
        margin: 0 auto 10px;
    }
    &__alignment {
        margin-bottom: 10px;
    }
}
}