// fv
.p-fv {
    background-image: url(../assets/img/fv-pc.png);
    width: 100%;
    height: calc(100vh - 140px);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        width: calc(100% - 40px);
        padding: 0 20px;
        margin: 0 auto 30px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    &__catch {
        font-weight: bold;
        font-size: 42px;
        letter-spacing: 0.05em;
        line-height: 56px;
        text-align: left;
        color: #fff;
        text-shadow: 0px 3px 6px #111;
    }
    &__speech {
        width: 290px;
        height: 130px;
        margin-bottom: 20px;
    }
    &__registration {
        font-family: "Noto Sans JP";
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #fff;
        position: relative;
        padding: 0 20px;
        width: fit-content;
        margin: 0 auto 20px;
        span{
            display: inline-block;
            color: #fff73b;
        }        
    }
    &__registration::before {  
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(-45deg);
    }
    &__registration::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &__button {
        border: solid 2px #0358A3;
        background: linear-gradient(to right, #0358A3, #97A7D5);
        box-shadow: 3px 3px 6px 0 rgba($color: #000000, $alpha: 0.16);
    }

}

// メディアクエリ
@media screen and (max-width:920px) {
    // fv
    .p-fv {
        background-image: url(../assets/img/fv-sp.png);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        position: static;
        &__wrap {
            display: block;
            width: calc(100% - 40px);
            padding: 0 20px;
            margin: 0 auto 30px;
            position: static;
            transform: translate(0%, 0%);
        }
        &__catch {
            width: fit-content;
            margin: 0 auto 50px;
            padding-top: 100px;
        }
        &__speech {
            width: 400px;
            height: 170px;
            margin: 0 auto 320px;
        }
        &__registration {
            font-size: 27px;
            padding: 0 30px;
            width: fit-content;
            margin: 0 auto 40px;       
        }
        &__button {
            margin: 0 auto;
            width: 400px;
            height: 70px;
            a{
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width:768px) {
    // fv
    .p-fv {
        background-image: url(../assets/img/fv-sp.png);
        height: calc(100vh - 90px);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        position: static;
        &__wrap {
            display: block;
            width: calc(100% - 40px);
            padding: 0 20px;
            margin: 0 auto 30px;
            position: static;
            transform: translate(0%, 0%);
        }
        &__catch {
            font-size: 24px;
            line-height: 36px;
            margin: 0 0 25px 25px;
            padding-top: 40px;
        }
        &__speech {
            width: 290px;
            height: 130px;
            margin: 0 auto 170px;
        }
        &__registration {
            font-size: 18px;
            letter-spacing: 0.05em;
            span{
                display: inline-block;
                color: #fff73b;
            }        
        }
        &__button {
            width: 310px;
            height: 50px;
            a{
                font-size: 18px;
            }
        }
    }
}

// 全国の企業登録者数
.p-japan {
    background-color: #4893C6;
    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: right;
        color: #fff;
        width: fit-content;
        margin:0 auto 30px;
        padding-top: 50px;
        position: relative;
        span{
            display: inline-block;
            font-weight: bold;
            font-size: 36px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #fff73b;
            margin-right: 10px;
        }       
        img{
            width: 47px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);
        } 
    }
    &__logo-wrap {
        padding-bottom: 50px;
    }
    &__logos{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    &__logos:not(:last-child) {
        margin-bottom: 20px;
    }
    &__logo {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: center;
        line-height: 57px;
        color: #333;
        width: 235px;
        height: 57px;
        background-color: #EAF2F4;  
        white-space: nowrap;      
    }
    &__logo:not(:last-child) {
        margin-right: 20px;
    }
}

// メディアクエリ
@media screen and (max-width:920px) {
    // 全国の企業登録者数
    .p-japan {
        &__title {
            span{
                display: inline-block;
                font-weight: bold;
                font-size: 36px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #fff73b;
                margin-right: 10px;
            }       
            img{
                width: 50px;
                height: 34px;
            } 
        }
        &__logo-wrap {
            padding: 0 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__logos{
            flex-direction: column-reverse;
            width: calc(50% - 10px);
            padding: 0;
        }
        &__logos:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 20px;
        }
        &__logo {
            font-size: 12px;
            line-height: 32px;
            height: 32px;
            width: 100%;
        }
        &__logo:not(:last-child) {
            margin-right: 0px;
            margin-top: 20px;
        }
    }
 }
@media screen and (max-width:768px) {
    // 全国の企業登録者数
    .p-japan {
        background-color: #4893C6;
        &__title {
            color: #fff;
            width: fit-content;
            margin:0 auto 30px;
            padding-top: 50px;
            position: relative;
            p{
                text-align: center;
            }
            span{
                display: inline-block;
                font-weight: bold;
                font-size: 36px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #fff73b;
                margin-right: 10px;
            }       
            img{
                width: 50px;
                height: 34px;
                position: absolute;
                top: 75%;
                left: 0%;
                transform: translate(-50%, -50%);
            } 
        }
        &__logo-wrap {
            padding: 0 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__logos{
            flex-direction: column-reverse;
            width: calc(50% - 10px);
        }
        &__logos:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 0;
        }
        &__logos:first-child {
            margin-right: 20px;
        }
        &__logos:last-child {
            display: none;
        }
        &__logo {
            font-size: 12px;
            line-height: 32px;
            height: 32px;
            width: 100%;
        }
        &__logo:not(:last-child) {
            margin-right: 0px;
            margin-top: 20px;
        }
    }
 }

// 就活マッチングサイトとは？
.p-matching {
    position: relative;
    &__bg{
        width: 100%;
    }
    &__contain {
        background-color: #fff;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 auto;
        padding: 36px 20px 100px;
        position: absolute;
        max-width: 1000px;
        width: 100%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        white-space: nowrap;
    }
    &__left {
        width: calc(50% - 46px);
    }
    &__right {
        width: 50%;
        margin-left: 46px;
    }
    &__speech {
        width: 100%;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #4893c6;
        text-shadow: 0px 3px 6px #9fcaf0;
        margin-bottom: 30px;
    }
    &__catch {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #111;  
        margin-bottom: 30px;
        span{
            display: inline-block;
            border-bottom: solid 1px #4893C6;
        }      
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #333;
    }
}

// メディアクエリ
@media screen and (max-width:920px) {
   // 就活マッチングサイトとは？
    .p-matching {
        position: static;
        &__contain {
            flex-direction: column-reverse;
            width: calc(100% - 40px);
            padding: 20px 20px 50px;
            position: static;
            transform: translate(0,0);
            white-space: wrap;
        }
        &__left {
            width: 100%;
            margin: 0 auto;
        }
        &__right {
            width: 100%;
            margin: 0 auto 30px;
        }
        &__speech{
            max-width: 400px;
            margin: 0 auto 30px;
        }
        &__catch {
            width: fit-content;
            margin: 0 auto 30px;
        }
        &__text{
            width: fit-content;
            margin: 0 auto 0px;
        }
    }
}
@media screen and (max-width:768px) {
   // 就活マッチングサイトとは？
    .p-matching {
        &__left {
            width: 100%;
            margin: 0 auto;
        }
        &__right {
            width: 100%;
            margin: 0 auto 30px;
        }
        &__speech {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 15px;
        }
        &__catch {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
        }
    }
}

// 選ばれる３つの理由とは？
.p-reason {
    .c-secTitle{
        span{
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 56px;
            letter-spacing: 0.05em;
            line-height: 84px;
            text-align: center;
            color: #104069;
            display: inline-block;
        }
    }
    background-color: #F2F9FD;
    padding: 90px 20px;
    &__lists {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    &__item {
        width: 389px;
        height: 461px;
        position: relative;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__number {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #104069;  
        position: absolute;
        top: 4%;
        left: 4%;
        transform: translate(-50%, -50%);     
    }
    &__contain {

    }
    &__white {
        width: 265px;
        height: 265px;
        border-radius: 265px;
        margin: 0 auto 20px;
        background-color: #fff;
        position: relative;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--01{
            width: 370px;
            height: 260px;
        }
        &--02{
            width: 228px;
            height: 171px;
        }
        &--03{
            width: 214px;
            height: 161px;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #4893c6;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #333;
    }
    &__aspiration {
            
        &__speech {
            width: 245px;
            height: 67px;
            position: absolute;
            top: 10%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
        &__contain {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 45px 20px;
            max-width: 1200px;
            width: calc(100% - 40px);
            margin: 0 auto;
        }
        &__left {

        }
        &__title {
            font-weight: bold;
            font-size: 36px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #4893c6;
            white-space: nowrap;
        }
        &__right {
            margin-left: 100px;
        }
        &__text {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: left;
            color: #333;
            width: fit-content;
        }
    }
}

// メディアクエリ
@media screen and (max-width:1200px) {
  // 選ばれる３つの理由とは？
    .p-reason {
    
        &__item {
            width: 350px;
            height: 461px;
            position: relative;
        }
        &__item:not(:last-child) {
            margin-right: 20px;
        }
        &__number {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            color: #104069;  
            position: absolute;
            top: 4%;
            left: 4%;
            transform: translate(-50%, -50%);     
        }
        &__contain {

        }
        &__white {
            width: 240px;
            height: 240px;
            border-radius: 240px;
        }
        &__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--01{
                width: 340px;
                height: 240px;
            }
            &--02{
                width: 200px;
                height: 150px;
            }
            &--03{
                width: 190px;
                height: 140px;
            }
        }
        &__subtitle {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #4893c6;
            margin-bottom: 20px;
        }
        &__text {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: left;
            color: #333;
        }
    }
}
@media screen and (max-width:920px) { 
  // 選ばれる３つの理由とは？
    .p-reason {
        .c-secTitle{
            span{
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                font-size: 56px;
                letter-spacing: 0.05em;
                line-height: 84px;
                text-align: center;
                color: #104069;
                display: inline-block;
            }
        }
        background-color: #F2F9FD;
        padding: 90px 20px;
        &__lists {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 80px;
        }
        &__item {
            width: 389px;
            height: 461px;
            position: relative;
        }
        &__item:not(:last-child) {
            margin-right: 20px;
        }
        &__number {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            color: #104069;  
            position: absolute;
            top: 4%;
            left: 4%;
            transform: translate(-50%, -50%);     
        }
        &__contain {

        }
        &__white {
            width: 265px;
            height: 265px;
            border-radius: 265px;
            margin: 0 auto 20px;
            background-color: #fff;
            position: relative;
        }
        &__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--01{
                width: 370px;
                height: 260px;
            }
            &--02{
                width: 228px;
                height: 171px;
            }
            &--03{
                width: 214px;
                height: 161px;
            }
        }
            &__aspiration {
                    
                &__speech {
                    width: 210px;
                    height: 50px;
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    transform: translate(-50%, -50%);
                }
                &__right {
                    margin-left: 40px;
                }
                &__text {
                    font-weight: normal;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    line-height: 28px;
                    text-align: left;
                    color: #333;
                    width: fit-content;
                }
            }
        }
    }
@media screen and (max-width:768px) {
  // 選ばれる３つの理由とは？
    .p-reason {
        background-color: #F2F9FD;
        padding: 60px 20px;
        &__lists {
            display: block;
            margin-bottom: 60px;
            padding: 0 0px;
        }
        &__item {
            width: auto;
            height: auto;
            position: relative;
        }
        &__item:not(:last-child) {
            margin-right: 00px;
            margin-bottom: 40px;
        }
        &__number {
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            color: #104069;  
            position: absolute;
            top: 4%;
            left: 4%;
            transform: translate(-50%, -50%);     
        }
        &__white {
            width: 218px;
            height: 218px;
            border-radius: 218px;
        }
        &__img {
            &--01{
                width: 282px;
                height: 200px;
            }
            &--02{
                width: 186px;
                height: 139px;
            }
            &--03{
                width: 200px;
                height: 150px;
            }
        }
        &__aspiration {
                
            &__speech {
                width: 245px;
                height: 67px;
                position: static;
                transform: translate(0%, 0%);
                margin: 0 auto 10px;
            }
            &__contain {
                position: static;
                display: block;
                padding: 20px;
            }
            &__left {
                margin-bottom: 20px;
            }
            &__title {
                font-size: 32px;

            }
            &__right {
                margin-left: 0px;
            }
            &__text {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}


// 機能紹介
.p-function {
    width: calc(100% - 40px);
    padding: 100px 20px;
    &__list {
        max-width: 1165px;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    &__item:nth-child(2n) {
        flex-direction: row-reverse;
        justify-content: space-between;
        .p-function__right{
            margin-left: 0px;
            margin-right: 50px;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    &__left {
        width: 380px;
        position: relative;
    }
    &__number{
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #4893c6;
        position: absolute;
        top: 0%;
        left: 5%;
        transform: translate(-50%, -50%);
    }
    &__right {
        margin-left: 50px;
    }
    &__name {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #4893c6;
        margin-bottom: 22px;
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #333;
    }
}

// メディアクエリ
@media screen and (max-width:768px) {
    // 機能紹介
    .p-function {
        padding: 70px 20px;
        &__list {
            max-width: 1165px;
            margin: 0 auto;
        }
        &__item {
            display: block;
            justify-content: left;
            align-items: center;
        }
        &__item:nth-child(2n) {
            flex-direction: row-reverse;
            justify-content: space-between;
            .p-function__right{
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        &__item:not(:last-child) {
            margin-bottom: 50px;
        }
        &__left {
            max-width: 380px;
            width: 100%;
            margin: 0 auto 22px;
        }
        &__right {
            margin-left: 00px;
        }
        &__name{
            text-align: center;
        }
        &__text {
            font-size: 14px;
            margin: 0 auto;
            width: fit-content;
        }
    }
}



// 登録から選考までの流れ
.p-flow {
    display: block;
    padding-top: 75px;
    &__contain {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 75px;
        width: fit-content;
    }
    &__step {
        border: solid 1px #4893C6;
        width: 300px;
        height: 420px;
        position: relative;
        &__wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
        }
    }
    &__number {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #fff;
        padding: 4px 14px;
        background-color: #4893C6;
        width: fit-content;
        margin: 0 auto 15px;
    }
    &__img {
        height: 150px;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #4893c6;  
        margin-bottom: 15px;    
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 20px;
        text-align: center;
        color: #333;
        height: 80px;
    }
    &__arrow {
        width: 30px;
        height: 43px;
        padding: 0 20px;
    }
}

// メディアクエリ
@media screen and (max-width:1025px) {
.p-flow {
    display: block;
    padding-top: 75px;
    &__contain {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 75px;
        width: fit-content;
    }
    &__step {
        border: solid 1px #4893C6;
        width: 220px;
        height: 350px;
    }
    &__number {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #fff;
        padding: 4px 14px;
        background-color: #4893C6;
        width: fit-content;
        margin: 0 auto 15px;
    }
    &__img {
        height: 120px;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #4893c6;  
        margin-bottom: 15px;    
    }
    &__text {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 20px;
        text-align: center;
        color: #333;
        height: 80px;
    }
    &__arrow {
        width: 20px;
        height: 30px;
        padding: 0 15px;
    }
}
}
@media screen and (max-width:768px) {
    // お知らせ
    .p-flow {
        padding-top: 75px;
        &__contain {
            display: block;
            justify-content: left;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 75px;
            width: fit-content;
        }
        &__step {
            width: 330px;
            height: 420px;
        }
        &__number {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #fff;
            padding: 4px 14px;
            background-color: #4893C6;
            width: fit-content;
            margin: 0 auto 15px;
        }
        &__img {
            height: 150px;
            margin-bottom: 15px;
        }
        &__title {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #4893c6;  
            margin-bottom: 15px;    
        }
        &__text {
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 20px;
            text-align: center;
            color: #333;
            height: 80px;
        }
        &__arrow {
            width: 30px;
            height: 43px;
            padding: 20px 0px;
            margin: 0 auto;
            transform: rotate(90deg);
        }
    }
}



