.p-fv {
    // fv
    &__top {
        background-image: url(../assets/img/fv-pc.png);
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
        &__wrap {
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 23%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
        }
        &__title {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: fit-content;
            padding-bottom: 150px;
            p{
                font-weight: bold;
                font-size: 48px;
                letter-spacing: 0.05em;
                line-height: 80px;
                text-align: left;
                color: #333;
                span{
                    display: inline-block;
                    color: #4893C6; 
                }
            }
            img{
                width: 63px;
                height: 63px;
            }
        }
        &__speech {
            width: 250px;
            height: 126px;
            margin: 0 auto 20px;
        }
        &__login { 
            width: fit-content;
            margin: 0 auto 10px;
            p{
                display: inline-block;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.05em;
                color: #1e324f;
                position: relative;
                padding: 0 40px;
                margin: 0 auto;
                white-space: nowrap;
                span{
                    display: inline-block;
                    color: #DE2D28;
                    font-weight: bold;
                }
            }
            p::before {  
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 2px;
                height: 100%;
                background: #000;
                border-radius: 3px;
                transform: rotate(-45deg);
            }
            p::after {
                position: absolute;
                content: "";
                right: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: #000;
                border-radius: 3px;
                transform: rotate(45deg);
            }
        }
        &__button.c-button.lite-gratation {
            margin: 0 auto;
            width: 310px;
            height: 67px;
            border: solid 2px #4893C6;
        }
        &__job {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0%;
            right: 0%;
            img{
                width: 120px;
                height: 80px;
            }
            a{
                background-color: #4893C6;
                width: 300px;
                height: 80px;
                span{
                    font-family: "Noto Sans JP";
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 80px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    // 就活マッチングサイトとは？
    &__bottom {
        background-image: url(../assets/img/about-fv.png);
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 700px;
        position: relative;
        &__wrap {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 760px;
            height: 430px;
            background-color: rgba($color: #fff, $alpha: 0.7);
            white-space: nowrap;
            border-radius: 20px;
        }
        &__contain{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__lite {
            width: 47px;
            height: 85px;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        .c-pageTitle{
            margin-top: 0;
            margin-bottom: 20px;
            background: linear-gradient(transparent 80%, #FBFE8E 80%);
        }
        &__service {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #4893c6;   
            margin-bottom: 20px;         
        }
        &__text {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: center;
            color: #333;
        }
        &__button.c-button {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #4893C6;
            border: solid 2px #4893C6;
        }
        &__button.c-button:hover {
            background-color: #fff;
            color: #4893c6;
        }
    }
}
// メディアクエリ
@media screen and (max-width:950px) {
    .p-fv {
        // fv
        &__top {
            background-image: url(../assets/img/fv-pc.png);
            background-position: center right;
            background-size: cover;
            background-repeat: no-repeat;
            height: calc(100vh - 80px);
            position: relative;
            &__wrap {
                top: 50%;
                left: 50%;
            }
            &__title {
                padding-bottom: 20vh;
                white-space: nowrap;
                margin: 0px 100px 100px 0px;
                p{
                    font-size: 54px;
                    line-height: 80px;
                }
                img{
                    width: 70px;
                    height: 70px;
                }
            }
            &__content{
                margin-left: -300px;
            }
            &__speech {
                width: 360px;
                height: 180px;
                margin: 0 auto 30px;
            }
            &__login { 
                width: fit-content;
                margin: 0 auto 10px;
                p{
                    font-size: 22px;
                    padding: 0 30px;
                }
            }
            &__button.c-button.lite-gratation {
                margin: 0 auto;
                width: 310px;
                height: 67px;
            }
        }
        // 就活マッチングサイトとは？
        &__bottom {
            width: 100%;
            height: 60vh;
            position: relative;
            &__wrap {
                width: calc(100% - 40px);
                height: calc(60vh - 100px);
            }
            &__lite {
                width: 31px;
                height: 56px;
            }
            .c-pageTitle{
                font-size: 36px;
                margin-bottom: 30px;
                padding: 0;
                background: linear-gradient(transparent 80%, #FBFE8E 80%);
            }
            &__service {
                font-size: 22px;
                margin-bottom: 30px;         
            }
            &__text {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 0px;   
            }
        }
    }
}
@media screen and (max-width:768px) {
    .p-fv {
        // fv
        &__top {
            background-image: url(../assets/img/fv-sp.png);
            height: calc(100vh - 80px);
            position: relative;
            &__wrap {
                top: 50%;
                left: 50%;
            }
            &__title {
                padding-bottom: 30vh;
                margin: 0px;
                p{
                    font-size: 30px;
                    line-height: 50px;
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            &__content{
                margin-left: 00px;
            }
            &__speech {
                width: 240px;
                height: 114px;
                margin: 0 auto 20px;
            }
            &__login { 
                width: fit-content;
                margin: 0 auto 10px;
                p{
                    font-size: 16px;
                    padding: 0 30px;
                }
            }
            &__button.c-button.lite-gratation {
                margin: 0 auto;
                width: 310px;
                height: 67px;
            }
            &__job {
                display: none;
            }
        }
        // 就活マッチングサイトとは？
        &__bottom {
            width: 100%;
            height: 80vh;
            position: relative;
            &__wrap {
                width: calc(100% - 40px);
                height: calc(80vh - 100px);
            }
            &__lite {
                width: 31px;
                height: 56px;
            }
            .c-pageTitle{
                font-size: 24px;
                margin-bottom: 20px;
                padding: 0;
                background: linear-gradient(transparent 80%, #FBFE8E 80%);
            }
            &__service {
                font-size: 16px;
                margin-bottom: 20px;         
            }
            &__text {
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 20px;   
            }
            &__button.c-button.sp-on {
                position: static;
                transform: translate(0, 0);
                width: 285px;
                height: 60px;
                margin: 0 auto;
            }
        }
    }
}

// 全国の企業登録者数
.p-japan {
    background-color: #4893C6;
    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: right;
        color: #fff;
        width: fit-content;
        margin:0 auto 30px;
        padding-top: 50px;
        position: relative;
        span{
            display: inline-block;
            font-weight: bold;
            font-size: 36px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #fff73b;
            margin-right: 10px;
        }       
        img{
            width: 47px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);
        } 
    }
    &__logo-wrap {
        padding-bottom: 50px;
    }
    &__logos{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    &__logos:not(:last-child) {
        margin-bottom: 20px;
    }
    &__logo {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: center;
        line-height: 57px;
        color: #333;
        width: 235px;
        height: 57px;
        background-color: #EAF2F4;  
        white-space: nowrap;      
    }
    &__logo:not(:last-child) {
        margin-right: 20px;
    }
}

// メディアクエリ
@media screen and (max-width:920px) {
    // 全国の企業登録者数
    .p-japan {
        &__title {
            span{
                display: inline-block;
                font-weight: bold;
                font-size: 36px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #fff73b;
                margin-right: 10px;
            }       
            img{
                width: 50px;
                height: 34px;
            } 
        }
        &__logo-wrap {
            padding: 0 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__logos{
            flex-direction: column-reverse;
            width: calc(50% - 10px);
            padding: 0;
        }
        &__logos:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 20px;
        }
        &__logo {
            font-size: 12px;
            line-height: 32px;
            height: 32px;
            width: 100%;
        }
        &__logo:not(:last-child) {
            margin-right: 0px;
            margin-top: 20px;
        }
    }
 }
@media screen and (max-width:768px) {
    // 全国の企業登録者数
    .p-japan {
        background-color: #4893C6;
        &__title {
            color: #fff;
            width: fit-content;
            margin:0 auto 30px;
            padding-top: 50px;
            position: relative;
            p{
                text-align: center;
            }
            span{
                display: inline-block;
                font-weight: bold;
                font-size: 36px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #fff73b;
                margin-right: 10px;
            }       
            img{
                width: 50px;
                height: 34px;
                position: absolute;
                top: 75%;
                left: 0%;
                transform: translate(-50%, -50%);
            } 
        }
        &__logo-wrap {
            padding: 0 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__logos{
            flex-direction: column-reverse;
            width: calc(50% - 10px);
        }
        &__logos:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 0;
        }
        &__logos:first-child {
            margin-right: 20px;
        }
        &__logos:last-child {
            display: none;
        }
        &__logo {
            font-size: 12px;
            line-height: 32px;
            height: 32px;
            width: 100%;
        }
        &__logo:not(:last-child) {
            margin-right: 0px;
            margin-top: 20px;
        }
    }
 }

// 就活マッチングサイトとは？
.p-matching {
    position: relative;
    &__bg{
        width: 100%;
    }
    &__contain {
        background-color: #fff;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 auto;
        padding: 36px 20px 100px;
        position: absolute;
        max-width: 1000px;
        width: 100%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        white-space: nowrap;
    }
    &__left {
        width: calc(50% - 46px);
    }
    &__right {
        width: 50%;
        margin-left: 46px;
    }
    &__speech {
        width: 100%;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #4893c6;
        text-shadow: 0px 3px 6px #9fcaf0;
        margin-bottom: 30px;
    }
    &__catch {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #111;  
        margin-bottom: 30px;
        span{
            display: inline-block;
            border-bottom: solid 1px #4893C6;
        }      
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #333;
    }
}

// メディアクエリ
@media screen and (max-width:920px) {
   // 就活マッチングサイトとは？
    .p-matching {
        position: static;
        &__contain {
            flex-direction: column-reverse;
            width: calc(100% - 40px);
            padding: 20px 20px 50px;
            position: static;
            transform: translate(0,0);
            white-space: wrap;
        }
        &__left {
            width: 100%;
            margin: 0 auto;
        }
        &__right {
            width: 100%;
            margin: 0 auto 30px;
        }
        &__speech{
            max-width: 400px;
            margin: 0 auto 30px;
        }
        &__catch {
            width: fit-content;
            margin: 0 auto 30px;
        }
        &__text{
            width: fit-content;
            margin: 0 auto 0px;
        }
    }
}
@media screen and (max-width:768px) {
   // 就活マッチングサイトとは？
    .p-matching {
        &__left {
            width: 100%;
            margin: 0 auto;
        }
        &__right {
            width: 100%;
            margin: 0 auto 30px;
        }
        &__speech {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 15px;
        }
        &__catch {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
        }
    }
}

// 就活生のための就活コラム
.p-column {
    background-color: #E2F1FF;
    &__wrap{
        padding: 100px 20px;
        max-width: 1200px;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    &__button.c-button {
        margin: 0 auto;
        border: solid 2px #4893C6;
    }
}

// メディアクエリ
 @media screen and (max-width:768px) {
    // 就活マッチングサイトとは？
    .p-column {
        .c-secTitle{
            margin-bottom: 0px;
        }
        &__wrap{
            padding: 60px 20px;
        }
        .sp-on{
            .p-hanting__item:not(:last-child) {
                margin-top: 00px;
            }
        }
        .slick-dotted.slick-slider {
            margin-bottom: 50px;
        }
        .slick-dots{
            bottom: -40px;
        }
        .slick-dots li button:before {
            font-family: slick;
            font-size: 15px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            content: '•';
            text-align: center;
            color: #4893C6;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }.slick-dots li.slick-active button:before {
            color: #fff;
        }
    }
 }







