.privacy{
    &__top,&__text,&__text--left01,&__text--left02{
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #1a1a1a;
    }
    &__contain,&__top {
        max-width: 870px;
        margin: 0 auto;
    }
    &__top {
        margin-bottom: 30px;
    }
    &__contain:not(:last-child){
        margin-bottom: 30px;
    }
    &__title {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #1a1a1a;
        margin-bottom: 30px;
    }
    &__text {
        position: relative;
        padding-left: 30px;
        word-break: normal;
        &--left01{
            padding-left: 30px;
            margin-bottom: 0px;
        }
        &--left02{
            padding-left: 60px;
            margin-bottom: 10px;
        }
        &--left03{
            padding-left: 90px;
            margin-bottom: 10px;
        }
        &--nospace{
            padding-left: 0px;
        }
        &--topspace{
            padding-left: 0px;
            margin-top: 16px;
        }
    }
    &__text:not(:last-child){
        margin-bottom: 10px;
    }
    // 以下疑似要素で青数字が付いたところを表現
    &__text--number::before {
        position: absolute;
        top: 0;
        left: 0;
        color: #104069;
        font-size: 16px;
        letter-spacing: 0.05em;
        font-weight: 700;
    }
    &__text--number01::before {
        content: "01";
    }
    &__text--number02::before {
        content: "02";
    }
    &__text--number03::before {
        content: "03";
    }
    &__text--number04::before {
        content: "04";
    }
    &__text--number05::before {
        content: "05";
    }
}

// タブレット版
@media screen and (max-width:920px) {
    .privacy{
        &__contain,&__top {
            width: calc(100% - 40px);
            padding: 0 20px;
        }
        &__top {
            margin-bottom: 20px;
        }
        &__contain:not(:last-child){
            margin-bottom: 20px;
        }
    }
}

// スマホ版
@media screen and (max-width:768px) {
    .privacy{
        &__top,&__text,&__text--left01,&__text--left02{
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
        &__top {
            margin-bottom: 20px;
        }
        &__contain:not(:last-child){
            margin-bottom: 20px;
        }
        &__title {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
        }
        &__text {
            position: relative;
            padding-left: 25px;
            &--left01{
                padding-left: 25px;
            }
            &--left02{
                padding-left: 45px;
            }
            &--nospace{
                padding-left: 0px;
            }
            &--topspace{
                padding-left: 0px;
                margin-top: 12px;
            }
        }
        &__text:not(:last-child){
            margin-bottom: 5px;
        }
    }
}