.thanks {
    width: 100%;
    height: 60vh;
    background-color: #F8F8F8;
    position: relative;
    &__wrap {
        padding: 0 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #104069;
        margin-bottom: 100px;
        white-space: nowrap;
    }
    &__text {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #104069;
        white-space: nowrap;
    }

}

// スマホ版
@media screen and (max-width:768px) {
    .thanks {
        position: relative;
        &__title {
            font-size: 24px;
            margin-bottom: 80px;
        }
        &__text {
            font-size: 14px;
            
        }
    
    }
}
