.p-search{
    // 検索されているキーワード
    &__words {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
    }
    &__text,
    &__word{
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #4893c6;
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    &__text:not(:last-child){
        padding-right: 40px;
    }
    &__word {

    }
    &__slice{
        padding: 0 10px;
    }

    // 学生検索結果
    &__contain {

    }
    &__lists {
        margin-bottom: 50px;
    }
    &__list {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 1px 8px 0 rgba($color: #000000, $alpha: 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // ☆など
        &__arrow,
        &__consider{
            width: 20px;
            height: 20px;
            z-index: 100;
        }
        &__arrow{
            position: absolute;
            bottom: 0%;
            right: 0%;
            transform: translate(50%, 50%);
        }
        &__consider{
            position: absolute;
            top: 0%;
            right: 0%;
            transform: translate(50%, -50%);
        }
        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__up,
        &__down{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__up{
            margin-bottom: 10px;
        }
        // 学生のサムネイル
        &__img {
             width: 100px;
             height: 100px;
             margin-right: 40px;
             position: relative;
             img{
                border-radius: 50px;
                }
         }
        &__dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #DE2D28;
            position: absolute;
            top: 15%;
            left: 10%;
            transform: translate(-50%, -50%);
        }
        &__status {
        
        }
        // 学生のデーター
        &__top {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 5px;
        }
        &__label {
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #fff;
            padding: 3px 5px;
            background-color: #0489C6;
        }
        &__graduation,
        &__gender {
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #104069;
            margin-left: 10px;
        }
        &__school {
            font-family: "Noto Sans JP";
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #4893c6;
            margin-bottom: 5px;
        }
        &__bottom {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 5px;
        }
        &__faculty,
        &__course {
            font-family: "Noto Sans JP";
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: left;
        }
        &__faculty {
            color: #0058a3;
        }
        &__course {
            color: #104069;
            margin-left: 10px;
        }
        &__login,
        &__login--date {
            display: flex;
            justify-content: left;
            align-items: center;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #abc8e2;
        }
        &__login--date {
            margin-left: 24px;
        }
        // 志望業界など
        &__hopes {
            margin-right: 40px;
        }
        &__hope {
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &__hope:not(:last-child) {
            margin-bottom: 10px;
        }
        &__hope--type {
            padding: 2px 5px;
            background-color: #EAF2F4;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #104069;
            margin-right: 10px;
        }
        &__hope--result {
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #333;            
        }
        // 診断結果
        &__type {
            width: 180px;
            height: 110px;
            background-color: #EAF2F4;
            position: relative;
            &__contain{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }
        }
        &__type--image {
            width: 40px;
            height: 40px;
            margin: 0 auto 12px;
            img{
               border-radius: 40px;
               }
        }
        &__type--result {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #104069;
        }
    }
    &__list:not(:last-child){
        margin-bottom: 20px;
    }
}


@media screen and (max-width:768px) {
    .p-search{
        &__words{
            padding: 0 20px;
        }
        &__text:not(:last-child){
            padding-right: 20px;
        }
        &__slice{
            padding: 0 10px;
        }
    
        // 学生検索結果
        &__contain {
    
        }
        &__lists {
            margin-bottom: 40px;
        }
        &__list {
            display: block;
            &__top{
                margin-bottom: 10px;
            }
            // 学生のサムネイル
            &__img {
                 width: 60px;
                 height: 60px;
             }
            // 学生のデーター
            &__top {
                margin-bottom: 5px;
            }
            &__up{
                justify-content: center;
            }
            &__down{
                display: flex;
            }
            // 志望業界など
            &__hopes {
                width: fit-content;
                margin:0 auto 10px;
            }
            &__hope{
                justify-content: left;
            }
            // 診断結果
            &__type {
                margin: 0 auto;
            }
        }
    }
}
