.p-setting {
    // 希望条件
    &__hope {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        margin-bottom: 30px;
        &__name {
            width: 20%;
            margin-right: 20px;
            font-family: "Noto Sans JP";
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;
        }
        &__lists {
            width: calc(80% - 20px);
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;
        }
        &__list:not(:last-child){
            margin-bottom: 10px;
        }
        &__number {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 30px;
            text-align: left;
            color: #111;

        }
        &__selectbox {
            display: flex;
            align-items: center;
            position: relative;
            width: 100% !important;
            &--short{
                max-width: 320px;
                margin-left: 20px;
            }
            &--long{
                max-width: 100%;
                margin-top: 5px;
            }
            &--solo{
                max-width: 320px;
                margin-left: 0;
            }
        }
        &__selectbox::after {
            position: absolute;
            right: 15px;
            top: 35%;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: solid 3px #0489C6;
            border-right: solid 3px #0489C6;
            content: '';
            pointer-events: none;
        }
        &__selectbox select {
            appearance: none;
            font-weight: bold;
            min-width: 0;
            width: 100% !important;
            height: 2.8em;
            padding: .4em calc(.8em + 30px) .4em .8em;
            border: 1px solid #a5bacc;
            border-radius: 3px;
            background-color: #fff;
            color: #333333;
            font-size: 1em;
            cursor: pointer;
        }
    }
    
    // 語学
    &__language {
        margin-bottom: 30px;
        
        &__title {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;     
            margin: 0 0 10px 20px;               
        }
        &__inner {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;   
            padding: 36px 30px;
            background-color: #EAF2F4; 
            border-radius: 10px;
            margin-bottom: 22px;    
        }
        &__name {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;     
            margin-bottom: 23px;           
        }
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__item {
            width: calc(100% / 3 - 20px);
        }
        &__item:not(:last-child) {
            margin-right: 30px;
        }
        &__type {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;    
            margin-bottom: 11px;    
        }
        &__selectbox {
            display: inline-flex;
            align-items: center;
            position: relative;
        }
        &__selectbox::after {
            position: absolute;
            right: 15px;
            top: 35%;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: solid 3px #0489C6;
            border-right: solid 3px #0489C6;
            content: '';
            pointer-events: none;
        }
        &__selectbox select {
            appearance: none;
            min-width: 230px;
            font-weight: bold;
            height: 2.8em;
            padding: .4em calc(.8em + 30px) .4em .8em;
            border: 1px solid #a5bacc;
            border-radius: 3px;
            background-color: #fff;
            color: #333333;
            font-size: 1em;
            cursor: pointer;
        }
        &__button {
            max-width: 106px;
            height: 44px;
            background-color: #4893c6;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #fff;
            line-height: 44px;
            border-radius: 22px;
            margin-left: auto;
        }
    }
    
    // 趣味や特技など・人物像
    &__person {
        margin: 30px 0;
        &__content {
            display: flex;
            justify-content: left;
            align-items: flex-start;
        }
        &__name {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;
            width: 30%;
            white-space: nowrap;
            &--text{
                font-weight: normal;
            }
        }
        &__list{
            width: 70%;
            textarea{
                padding: 17px 20px;
                border: solid 1px #0489C6;
                border-radius: 10px;
                width: calc(100% - 40px) !important;
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 22px;
        }
        &__type {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #111;
            margin-bottom: 11px;
        }
        &__selectbox {
            display: flex;
            align-items: center;
            position: relative;
        }
        &__selectbox::after {
            position: absolute;
            right: 15px;
            top: 35%;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: solid 3px #0489C6;
            border-right: solid 3px #0489C6;
            content: '';
            pointer-events: none;
        }
        &__selectbox select {
            appearance: none;
            max-width: 100%;
            width: 100% !important;
            font-weight: bold;
            height: 2.8em;
            padding: .4em calc(.8em + 30px) .4em .8em;
            border: 1px solid #a5bacc;
            border-radius: 3px;
            background-color: #fff;
            color: #333333;
            font-size: 1em;
            cursor: pointer;
        }
    
    }
}
@media screen and (max-width:1200px) {
    .p-setting{
        
        // 語学
        &__language {
            margin: 0 auto 30px;
            &__list {
                display: block;
            }
            &__item {
                max-width: 500px;
                width: 100%;
                margin-top: 20px;
            }
            &__item:not(:last-child) {
                margin-right: 0px;
            }
            &__inner{
                margin-bottom: 10px;
            }
            &__selectbox {
                display: flex;
                max-width: 500px;
                select{
                width: 100% !important;
            }
        }
        
    }
    }
}

@media screen and (max-width:1024px) {
    .p-setting{
        // 趣味や特技など・人物像
        &__person {
            margin: 30px auto;
            &__content {
                display: block;
            }
            &__name {
                margin-right: 0px;
                width: fit-content;
                font-size: 20px;
                margin-bottom: 20px;
            }
            &__list{
                width: 100%;
            }
            &__item:not(:last-child) {
                margin-bottom: 12px;
            }
            &__type {
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #111;
                margin-bottom: 11px;
            }
            &__select {
                max-width: 500px;
                min-width: 0;
                margin: 0 auto;
                margin-top: 10px;
                input{
                    border: 1px solid #a5bacc;
                    margin-right: 10px;
                }
                label{
                    font-weight: bold;
                }
            }
            &__select:not(:nth-child(4n)) {
                margin-right: auto;
            }
            &__selectbox {
                max-width: 500px;
                margin: 0 auto;
                display: flex;
                select{
                position: relative;
                max-width: 500px;
                min-width: 0;
                width: 100% !important;
            }
        }
        // ボタン
        &__buttons {
            margin-top: 50px;
        }
        &__button {    
            width: 290px;
            height: 60px;
            border-radius: 290px;
            margin: 0 auto;
            position: relative; 
            a{        
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 16px;
            }
        }
        &__button--blue {
            background-color: #4893C6;
            border: solid 2px #fff;
            margin-bottom: 30px;
            box-shadow: 0px 1px 8px rgba($color: #000000, $alpha: 0.5);
            a{
                color: #fff;
                font-weight: bold;
            }
        }
        &__button--blue:hover {
            background-color: #fff;
            margin-bottom: 30px;
            a{
                color: #4893C6;
            }
        }
        &__button--gray {
            background-color: #EFEFEF;
            a{
                color: #111111;
                font-weight: normal;
            }
        }
        
        }
        
    }
}

@media screen and (max-width:768px) {
    .p-setting {
        // 希望条件
        &__hope {
            display: block;
            align-items: flex-start;
            justify-content: left;
            margin-bottom: 30px;
            &__name {
                width: 100%;
                margin-bottom: 10px;
            }
            &__lists {
                width: 100%;
            }
            &__selectbox {
                display: flex;
                align-items: center;
                position: relative;
                width: 100% !important;
                &--short,
                &--long,
                &--solo{
                    max-width: 100%;
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
        }
                
        // 語学・資格情報
        &__language {
            max-width: 500px;
            margin: 0 auto;
            &__list {
                display: block;
            }
            &__item {
                max-width: 500px;
                width: 100%;
                margin-top: 20px;
            }
            &__item:not(:last-child) {
                margin-right: 0px;
            }
            &__inner{
                margin-bottom: 10px;
            }
            &__selectbox {
                max-width: 500px;
                select{
                width: 100% !important;
            }
        }
        &__language:not(:last-child) {
            margin-bottom: 23px;
        }
        
    }
    }
}