.p-login {
    margin: 148px auto 0;
    max-width: 1200px;
    &__content {
        padding: 40px 0 70px;
    }
}



@media screen and (max-width:768px) {
    .p-login {
        margin-top: 118px;
    &__content {
        padding: 30px 0 50px;
    }
    }
}