.l-footer { 
    width: 100%;
    height: 80px;
    background-color: #4893C6;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 0 20px;
        line-height: 80px;
    }
    &__title {
        a{
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #fff;
        }
    }
    &__nav {
    
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    &__list {
        a{
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #fff;
        }
    }
    &__list:not(:last-child) {
        margin-right: 30px;
    }
}


@media screen and (max-width:768px) {
    .l-footer { 
        width: 100%;
        height: auto;
        background-color: #4893C6;
        &__container {
            display: block;
            max-width: 1200px;
            width: calc(100% - 40px);
            margin: 0 auto;
            padding: 50px 20px;
            line-height: 22px;
        }
        &__title {
            margin-bottom: 50px;
            a{
                font-size: 20px;
                text-align: center;
            }
        }
        &__menu {
            display: block;
        }
        &__list {
            a{
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #fff;
            }
        }
        &__list:not(:last-child) {
            margin-right: 00px;
            margin-bottom: 20px;
        }
    }
}